nav {
  height: 50px;
  width: 100vw;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  align-items: center;
  padding: 0 20px;
}
nav div ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;

  gap: 30px;
  /* background-color: rebeccapurple; */
}
nav a:visited {
  color: black;
}

/***** HAMBURGER MENU *****/

.menu-button {
  padding: 6px 12px;
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: transparent;
  outline: 0;
  border: 0;
}
.mobile-nav {
  position: fixed;
  top: 50px;
  right: 10px;
  /* transition: right 0.5s ease-in; */
  height: 100vh;
  background-color: rgba(147, 195, 228, 0.3);
  backdrop-filter: blur(10px);
}
.open {
  width: 200px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  /* height: 100vh; */
  /* background-color: #fff; */
  border-radius: 10px;
  padding: 20px;
}
.closed {
  display: none;
}
/* Laptop navigation */
.lap-nav {
  display: none;
}

@media (width > 700px) {
  .menu-button,
  .mobile-nav {
    display: none;
  }
  .lap-nav {
    display: flex;
  }
  .lap-nav ul {
    align-items: center;
  }
  .signup,
  .login {
    border-radius: 10px;
    padding: 4px 16px;
  }
  .signup {
    border: 2px solid black;
  }
  .login {
    background-color: rebeccapurple;
    border: 2px solid rebeccapurple;
  }
}

.active {
  font-weight: 600;
}

/***** ARROWS *****/

.back-arrow {
  background-color: transparent;
  outline: 0;
  border: 0;
}
