nav {
  height: 50px;
  width: 100vw;
  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  align-items: center;
  padding: 0 20px;
}
nav div ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  /* background-color: rebeccapurple; */
}

/***** HAMBURGER MENU *****/

.menu-button {
  padding: 6px 12px;
  position: fixed;
  top: 0;
  right: 10px;
}
.open {
  position: fixed;
  top: 50px;
  right: 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
  /* height: 100vh; */
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
.closed {
  display: none;
}
