.sector-info {
  display: flex;
  gap: 20px;
}
.sector-image img,
.sector-image {
  background-color: #fff;
  border-radius: 10px;
}
.sector-image img {
  width: 100%;
}
.sectors {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
