.steps {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.step {
  width: 80%;
  margin: 0 auto;
  background-color: #ddd;
}
.step-image {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 0 auto;
  background-color: #a3e6ff;
}
.step h3,
.step p {
  text-align: left;
}
